.welcomeText {
    text-align: center;
    color: #270468;
    padding-top: 60px;
    padding-bottom: 0px;
}

.welcomeText1 {
    text-align: center;
    color: #270468;
}

.inputRow{
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.gatorID{
    color: #270468;
}

.drive{
    padding-top: 25px;
}

.driveNo{
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 30px;
}

